body {
    padding-top: 5rem;
}

td.min {
    width: 1%;
    white-space: nowrap;
}

.tooltip-inner {
    max-width: 100%;
    min-width: 300px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.icon {
    overflow: visible;
    display: inline;
    margin-top: -10px;
    margin-bottom: 0px;
    width: 50px;
    height: 50px;
    filter: drop-shadow( 5px 5px 3px rgba(0, 0, 0, .7));
}
.seal {
    overflow: visible;
    display: inline;
    margin-top: -7px;
    margin-bottom: -8px;
    width: 35px;
    height: 35px;
}

.seal-place {
    overflow: visible;
    display: inline;
    margin-left: 8px;
    margin-right: 7px;
    width: 20px;
    height: 20px;
}

.table-head{
    border-radius: 50px 50px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.15);
} 

table th:first-child{
    border-radius: 10px 0 0 10px !important;
}

table th:last-child{
    border-radius: 0 10px 10px 0 !important;
}