body {
    padding-top: 5rem;
}

td.min {
    width: 1%;
    white-space: nowrap;
}

.tooltip-inner {
    max-width: 100%;
    min-width: 300px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.icon {
    overflow: visible;
    display: inline;
    margin-top: -10px;
    margin-bottom: -10px;
    width: 50px;
    height: 50px;
}

.table-head{
    border-radius: 50px 50px 0px 0px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.15);
}