@media print {
    
    .pagebreak {
        page-break-before: always;
        page-break-inside: avoid;
    }

    .light {
        color: #000 !important;
    }
    
    .text-warning {
        color: #f0ad4e !important;
    }

    body {
        color: #000000;
    }

    .table {
        color: #000000;
    }

    .icon {
        filter: invert(100%);
    }
}
@page {
    size:A3 portrait;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10;
}