@media print {
    .pagebreak { page-break-before: always; }
}
@page {
    size:A4 landscape;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 5;
}