<div id="bgsappid" class="container-fluid">
  <h1 class="d-print-none"><a v-bind:href="repo_url">{{ name }}</a></h1>
  <ul class="nav nav-pills mb-3 d-print-none" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="v-panes-character-sheets-tab" data-toggle="pill" href="#v-panes-character-sheets" role="tab" aria-controls="v-panes-character-sheets" aria-selected="true">{{ translate('character-sheets') }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="v-panes-journal-tab" data-toggle="pill" href="#v-panes-journal" role="tab" aria-controls="v-panes-journal" aria-selected="false">{{ translate('journal') }}</a>
    </li>
  </ul>
  <div class="tab-content" id="v-panes-tabContent">
    <div class="tab-pane fade show active" id="v-panes-character-sheets" role="tabpanel" aria-labelledby="v-panes-character-sheets-tab">          
      <nav class="d-print-none">
        <div class="nav nav-pills" id="nav-tab" role="tablist">
          <a v-for="(character, index) in characters"
            class="nav-item nav-link"
            v-bind:class="{ active: index === 0 }"
            aria-selected="index === 0 ? 'true' : 'false'"
            v-bind:id="'nav-tab-' + character.id"
            v-bind:href="'#nav-' + character.id"
            v-bind:aria-controls="'nav-' + character.id"
            data-toggle="pill" role="tab">{{ character.name }}</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div v-for="(character, index) in characters"
          class="tab-pane fade"
          v-bind:class="{ 'show active': index === 0 }"
          v-bind:id="'nav-' + character.id"
          aria-labelledby="'nav-tab-' + character.id"
          role="tabpanel">
          <div class="row">
            <div class="col">
              <table class="shadow p-3 mb-5 bg-black rounded table table-bordered table-striped">
                <tbody>
                  <tr v-if="'portrait' in character && character.portrait != ''">
                      <td colspan="2" class="text-center align-middle"><img v-bind:src="character.portrait" class="shadow rounded mx-auto d-block" alt="portrait"></td>
                  </tr>
                  <tr><th style="width: 25%" scope="row">{{ translate("name") }}:</th><td>{{ character.name }}</td></tr>
                  <tr>
                    <th scope="row">{{ translate('experience') }}</th>
                    <td v-if="'exp' in character">{{ character.exp.total }} / {{ character.exp.spent }} / {{ character.exp.total - character.exp.spent }}</td>
                    <td v-if="!('exp' in character)">0</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col">
              <table class="shadow p-3 mb-5 bg-black rounded table table-bordered table-striped">
                <tbody>
                  <tr><th style="width: 50%" scope="row">{{ translate("race") }}:</th><td>{{ character.race }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("sex") }}:</th><td>{{ character.sex }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("age") }}:</th><td>{{ character.age }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("height") }}:</th><td>{{ character.height }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("weight") }}:</th><td>{{ character.weight }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("eyes") }}:</th><td>{{ character.eyes }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("hair") }}:</th><td>{{ character.hair }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("distinguishing_marks") }}:</th><td>{{ character.distinguishing_marks }}</td></tr>
                </tbody>
              </table>
            </div>
            <div class="col">
              <table class="shadow p-3 mb-5 bg-black rounded table table-bordered table-striped">
                <tbody>
                  <tr><th style="width: 50%" scope="row">{{ translate("career") }}:</th><td>{{ character.career }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("career_path") }}:</th><td>{{ character.career_path }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("family") }}:</th><td>{{ character.family }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("birthplace") }}:</th><td>{{ character.birthplace }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("religion") }}:</th><td>{{ character.religion }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("star_sign") }}:</th><td>{{ character.star_sign }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("disorders") }}:</th><td>{{ character.disorders }}</td></tr>
                  <tr><th style="width: 50%" scope="row">{{ translate("scars") }}:</th><td>{{ character.scars }}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
          <div v-if="character.background" class="row">
            <div class="col">
              <table class="shadow p-3 mb-5 bg-black rounded table table-bordered table-striped">
                <tbody>
                  <tr>
                    <th scope="row">{{ translate("background") }}:</th><td>{{ character.background }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row pagebreak">
            <div class="col-12 col-md-6">
              <table class="shadow p-3 mb-5 bg-black rounded table table-sm table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col" colspan="2" class="small">{{ translate('coins') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{ translate('crowns') }}</th><td scope="col">{{ ('coins' in character && 'crowns' in character.coins) ? character.coins.crowns : 0 }}</td>
                  </tr><tr>
                    <th scope="row">{{ translate('shillings') }}</th><td scope="col">{{ ('coins' in character && 'shillings' in character.coins) ? character.coins.shillings : 0 }}</td>
                  </tr><tr>
                    <th scope="row">{{ translate('pennies') }}</th><td scope="col">{{ ('coins' in character && 'pennies' in character.coins) ? character.coins.pennies : 0 }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="shadow p-3 mb-5 bg-black rounded table table-sm table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="small">{{ translate('weapons') }}</th>
                    <th scope="col" class="small">{{ translate('group') }}</th>
                    <th scope="col" class="small">{{ translate('damage') }}</th>
                    <th scope="col" class="small">{{ translate('range') }}</th>
                    <th scope="col" class="small">{{ translate('qualities') }}</th>
                    <th scope="col" class="small">{{ translate('desc') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(weapon, key) in character.weapons">
                    <th scope="row">{{ weapon.name }}</th>
                    <td scope="col">{{ translate(weapon.group) }}</td>
                    <td scope="col">{{ weapon.damage }}</td>
                    <td scope="col">{{ weapon.range }}</td>
                    <td scope="col"><span v-for="(quality, key) in weapon.qualities">{{ (key > 0 ? ", " : "") + translate(quality) }}</span></td>
                    <td scope="col" class="small">{{ weapon.desc }}</td>
                  </tr>
                </tbody>
              </table>
              <table class="shadow p-3 mb-5 bg-black rounded table table-sm table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="small">{{ translate('armour_type') }}</th>
                    <th scope="col" class="small">{{ translate('location') }}</th>
                    <th scope="col" class="small">{{ translate('ap') }}</th>
                    <th scope="col" class="small">{{ translate('desc') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(piece, key) in character.armour">
                    <th scope="row">{{ piece.name }}</th>
                    <td scope="col"><span v-for="(location, key) in piece.locations">{{ (key > 0 ? ", " : "") + translate(location) }}</span></td>
                    <td scope="col">{{ piece.ap }}</td>
                    <td scope="col" class="small">{{ piece.desc }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-6">
                <table class="shadow p-3 mb-5 bg-black rounded table table-sm table-bordered table-striped">
                    <thead>
                      <tr>
                        <th scope="col" class="small">{{ translate('inventory') }}</th>
                        <th scope="col" class="small">{{ translate('desc') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, key) in character.inventory">
                        <th scope="row">{{ item.name }}</th>
                        <td scope="col" class="small">{{ item.desc }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <table class="shadow p-3 mb-5 bg-black rounded table table-sm table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="small">{{ translate('main_profile_stats') }}</th>
                    <th scope="col" class="small">{{ translate('starting') }}</th>
                    <th scope="col" class="small">{{ translate('advance') }}</th>
                    <th scope="col" class="small">{{ translate('taken') }}</th>
                    <th scope="col" class="small">{{ translate('current') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(stat, key) in character.stats.main"
                  v-bind:class="[ 'talents' in stat ? 'text-warning' : '' ]"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-html="true"
                  v-bind:title="getTooltip('stat', stat)">
                    <th scope="row"><span class="d-none d-lg-inline">{{ translate(key) }} </span><span class="badge badge-primary">{{ translate("_"+key) }}</span></th>
                    <td>{{stat.starting}}</td>
                    <td v-bind:class="{ 'table-light': stat.advance == 0 }">{{ stat.advance == 0 ? "" : "+" + stat.advance }}</td>
                    <td v-bind:class="{ 'table-light': stat.advance == 0 }">{{ stat.advance == 0 ? "" : stat.taken + "/" + (stat.advance/5)}}</td>
                    <td>{{stat.current}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class="shadow p-3 mb-5 bg-black rounded table table-sm table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="small">{{ translate('secondary_profile_stats') }}</th>
                    <th scope="col" class="small">{{ translate('starting') }}</th>
                    <th scope="col" class="small">{{ translate('advance') }}</th>
                    <th scope="col" class="small">{{ translate('taken') }}</th>
                    <th scope="col" class="small">{{ translate('current') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(stat, key) in character.stats.secondary"
                  v-bind:class="[ 'talents' in stat ? 'text-warning' : '' ]"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-html="true"
                  v-bind:title="getTooltip('stat', stat)">
                    <th scope="row"><span class="d-none d-lg-inline">{{ translate(key) }} </span><span class="badge badge-primary">{{ translate("_"+key) }}</span></th>
                    <td v-bind:class="{ 'table-light': stat.starting == 'disabled' }">{{ stat.starting == 'disabled' ? '' : stat.starting }}</td>
                    <td v-bind:class="{ 'table-light': stat.advance == 'disabled' }">{{ stat.advance == 'disabled' ? '' : stat.advance }}</td>
                    <td v-bind:class="{ 'table-light': stat.taken == 'disabled' }">{{ stat.taken == 'disabled' ? '' : stat.taken }}</td>
                    <td>{{ stat.current }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row pagebreak">
            <div class="col-12 col-md-6">
              <table class="shadow p-3 mb-5 bg-black rounded table table-sm table-bordered table-striped">
                <thead>
                  <tr>
                    <th class="text-center small" scope="col" colspan="2">{{ translate('basic') }}</th>
                    <th class="text-center small" scope="col">{{ translate('current') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(skill, key) in orderedObject(character.skills.basic)"
                    v-bind:class="[ 'talents' in skill ? 'text-warning' : '' ]"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    data-html="true"
                    v-bind:title="getTooltip('skill', skill)">
                    <th scope="row">{{ translate(key) }}</th>
                    <td style="min-width: 100px">
                      <img src="static/black.jpg" class="d-none d-print-block progress" v-bind:style="'width: '+ (100 / 3 * skill.taken) + '%'">
                      <div class="progress d-print-none">
                        <div class="progress-bar" class="d-print-none" role="progressbar" v-bind:style="'width: '+ (100 / 3 * skill.taken) + '%'"v-bind:aria-valuenow="skill.taken" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="min">{{ skill.current }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-6">
              <table class="shadow p-3 mb-5 bg-black rounded table table-sm table-bordered table-striped">
                <thead>
                  <tr>
                    <th class="text-center small" scope="col" colspan="2">{{ translate('advanced') }}</th>
                    <th class="text-center small" scope="col">{{ translate('current') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(skill, key) in orderedObject(character.skills.advanced)"
                  v-bind:class="[ 'talents' in skill ? 'text-warning' : '' ]"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-html="true"
                  v-bind:title="getTooltip('skill', skill)">
                    <th scope="row">{{ translate(key) }}</th>
                    <td style="min-width: 100px">
                      <img src="static/black.jpg" class="d-none d-print-block progress" v-bind:style="'width: '+ (100 / 3 * skill.taken) + '%'">
                      <div class="progress d-print-none">
                        <div class="progress-bar" role="progressbar" v-bind:style="'width: '+ (100 / 3 * skill.taken) + '%'" v-bind:aria-valuenow="skill.taken" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="min">{{ skill.current }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row pagebreak">
            <div class="col-6 col-md-3" v-for="index in 4" :key="index">
              <table class="shadow p-3 mb-5 bg-black rounded table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                      <th class="text-center small" scope="col" colspan="2">{{ translate('talents') }}</th>
                    </tr>
                </thead>
                <tbody>
                  <tr v-for="(talent, key) in getChunk(orderedObject(character.talents), 4, index)" data-toggle="tooltip" data-placement="bottom" data-html="true" v-bind:title="translate(key+'_desc')">
                    <th scope="row"><span >{{ translate(key) }}</button></th>
                    <td style="width: 50px">
                      <img src="static/black.jpg" class="d-none d-print-block progress" v-bind:style="'width: '+ (100 * talent.current) + '%'">
                      <div class="progress d-print-none">
                        <div class="progress-bar" role="progressbar" v-bind:style="'width: '+ (100 * talent.current) + '%'" v-bind:aria-valuenow="talent.current" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="v-panes-journal" role="tabpanel" aria-labelledby="v-panes-journal-tab">
      <ul class="list-group">
        <li v-for="commit in commits" class="list-group-item">
          <div class="row">
            <div class="col-3">{{commit.commit.committer.date}}</div>
            <div class="col-7">{{commit.commit.message}}</div>
            <div class="col-2">
              <a class="btn btn-primary justify-content-md-center" target="_blank" rel="noopener noreferrer" v-bind:href="commit.html_url" role="button">{{ translate('show') }}</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="systems/wfrp2/character.js"></script>
<script>
    var repo_url = "bgsrepourl";
    var campaign_data = {
        "repo_url": repo_url,
        "lang": "pl",
        "translations": translations,
        "characters": [],
        "commits": []
    }

    raw = repo_url.replace("github.com", "raw.githubusercontent.com") + "/master/"
    api = repo_url.replace("github.com", "api.github.com/repos") + "/commits"

    campaings.bgsappid = {...campaign_data, ...campaings.bgsappid}

    vue_apps.bgsappid = new Vue({
        el: '#bgsappid',
        data: campaings.bgsappid,
        updated: function() {
            $('[data-toggle="tooltip"]').tooltip('dispose')
            $('[data-toggle="tooltip"]').tooltip();
        },
        methods: {
            orderedObject: function(object) {
                var orderedObject = {}
                var ordered_keys = Object.keys(object)
                ordered_keys.sort(function(a, b) {
                    var textA = a in campaings.bgsappid.translations[campaings.bgsappid.lang] ? campaings.bgsappid.translations[campaings.bgsappid.lang][a] : a;
                    var textB = b in campaings.bgsappid.translations[campaings.bgsappid.lang] ? campaings.bgsappid.translations[campaings.bgsappid.lang][b] : b;
                    return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
                });
                ordered_keys.forEach(function(key) {
                    orderedObject[key] = object[key];
                });
                return orderedObject;
            },
            getChunk: function(object, num, n) {
                var keys = Object.keys(object)
                var chunksize = keys.length / num;
                var chunk = {}
                for(var i = parseInt(chunksize * (n - 1)); i < parseInt(chunksize * n); i++) {
                    chunk[keys[i]] = object[keys[i]]
                }
                return chunk
            },
            translate: function(str) {
                return str in this.$data.translations[this.$data.lang] ? this.$data.translations[this.$data.lang][str] : str;
            },
            getTooltip: function(type, stat){
                var tooltip = "";
                var cnt = 0;
                if("talents" in stat) {
                    tooltip += "<u>" +  this.$data.translations[this.$data.lang]["talents"] + "</u><br>"
                    for(i in stat.talents) {
                        var talent = stat.talents[i]
                        var talent_name = this.$data.translations[this.$data.lang][talent]
                        var talent_desc = this.$data.translations[this.$data.lang][talent + "_desc"]
                        talent_desc = talent_desc.replace(/([+-]?[0-9]+[%]?)/, function(a, b){
                            return '<b>' + b + '</b>';
                        })
                        if(cnt++ > 0) {
                          tooltip += "<br>"
                        }
                        tooltip += "<b>" + talent_name + "</b>: <em>" + talent_desc + "</em>"
                    }
                }
                return tooltip;
            }
        }
    })

    $.each( campaings.bgsappid.character_sheets, function( val ) {
        $.getJSON(raw + "characters/" + campaings.bgsappid.character_sheets[val], function(character_data) {
            campaings.bgsappid.characters.push(process_character_sheet(character_data));
        });
    });
</script>